CONFIG_ARM=y
CONFIG_TARGET_SMDK2440=y
CONFIG_SYS_PROMPT="\nGMF@2440 # "
CONFIG_CMD_USB=y
CONFIG_CMD_DHCP=y
CONFIG_CMD_PING=y
CONFIG_CMD_CACHE=y
CONFIG_CMD_EXT2=y
CONFIG_CMD_FAT=y

CONFIG_CMD_MEMTEST=y
CONFIG_LOCALVERSION=" - Modified by Mingfei Gao  "
CONFIG_LOCALVERSION_AUTO=n
CONFIG_HUSH_PARSER=y

